@font-face {
    font-family: "Gotham Pro";
    src: url("../fonts/GothamPro.woff2") format("woff2"),
         url("../fonts/GothamPro.woff") format("woff"),
         url("../fonts/GothamPro.otf") format("opentype");
         font-weight: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro-Bold.woff2") format("woff2"),
       url("../fonts/GothamPro-Bold.woff") format("woff"),
       url("../fonts/GothamPro-Bold.otf") format("opentype");
       font-weight: bold;
}
