body {
  font-family: "Gotham Pro", sans-serif;
  margin: 0 auto;
}

p,
h1 {
  margin: 0;
}

.header-mini {
  display: none;
}

.header {
  width: 88%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 33px;
  margin-bottom: 26px;
}

.header__logo {
  height: 55px;
  width: 55px;
  margin-right: 43px;
}

.nav {
  width: 334px;
  display: flex;
  margin-right: 194px;
}

.nav__link {
  color: #000;
  text-decoration: none;
  font-size: 12px;
  margin-right: 35px;
  font-weight: bold;
  opacity: 1;
  transition: opacity .3s ease-in-out;
  cursor: pointer;
}

.nav__link:after {
  background-color: #000;
  display: block;
  content: "";
  height: 2px; 
  width: 0%;
  transition: width .3s ease-in-out;
}

.nav__link:hover::after {
  width: 100%;
}

.nav__link:hover {
  opacity: .5;
}

.form {
  width: 38%;
}

.form__input {
  width: 61%;
  border: 1px solid transparent;
  border-bottom: 1px solid #000;
  outline: none;
}

.form__img {
  margin-left: -22px;
  margin-right: 25px;
}

.form__btn {
  border: none;
  background: none;
  font-family: inherit;
  font-size: 12px;
  font-weight: bold;
  opacity: 1;
  transition: opacity .8s;
}

.form__btn:hover {
  opacity: .5;
}

.cart {
  padding-top: 3px;
  font-size: 12px;
  font-weight: bold;
  margin-right: 20px;
  width: 9%;
}

.cart__round {
  background: #000;
  color: #fff;
  margin-left: 2px;
  padding: 2px 5px 1px;
  border-radius: 50%;
}

.main {
  width: 88%;
  margin: 0 auto;
}

.main__slides {
  background-image: url(../images/slide.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 280px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
  padding-left: 60px;
}

.main__slides__text {
  width: 195px;
  line-height: 29px;
  font-size: 30px;
  margin-bottom: 16px;
  padding-top: 14px;
}

.main__slides__btn {
  width: 145px;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
  letter-spacing: normal;
  transition: letter-spacing .5s;
}

.main__slides__btn:hover {
  letter-spacing: 2px;
  cursor: pointer;
}

.arrow {
  padding-left: 7px;
}

.arrow-mini {
  display: none;
}

.product {
  width: 100%;
  margin-bottom: 23px;
}

.product__title {
  text-align: center;
  font-size: 22px;
}

.product__items {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.product-item {
  width: 206px;
  padding: 0 12px 20px;
  height: 241px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.product-item::before {
  content: "";
  position: absolute;
  top: 41px;
  left: 248px;
  height: 101px;
  width: .8px;
  background: #000;
  opacity: 20%;
}

.product-item:last-child {
  margin: 0;
}

.product-item:last-child::before {
  content: "";
  position: absolute;
  top: 41px;
  left: 248px;
  height: 101px;
  width: .8px;
  background: #000;
  opacity: 20%;
  display: none;
}

.product-item__img {
  width: 188px;
  height: 173px;
  margin-bottom: 25px;
  padding-left: 10px;
}

.product-item__description {
  font-size: 12px;
  margin-bottom: 6px;
  width: 100%;
}

.product-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.product-info__price {
  font-size: 14px;
  font-weight: bold;
}

.product-info__round {
  width: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.round {
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

.round_big {
  width: 9px;
  height: 9px;
  bottom: 12px;
}

.round_grey {
  background: #c4c4c4;
}

.round_blue {
  background: #41479b;
}

.round_red {
  background: #b62e3c;
}

.round_black {
  background: #0e1211;
}

.round_brown {
  background: #762e31;
}

.round_orange {
  background: #e29d69;
}

.round_yellow {
  background: #fdb431;
}

.round_lightblue {
  background: #257da9;
}

.video {
  height: 359px;
  background: #000;
  padding: 69px 45px 66px 33px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  margin-bottom: 78px;
}

.video__slide {
  position: relative;
  width: 69%;
  margin-right: 38px;
}

.video__img {
  height: auto;
}

.video-play {
  position: absolute;
  height: 48px;
  width: 48px;
  top: calc(50% - 24px);
  left: calc(50% - 24px);
  transform: scale(1);
  transition: transform .5s;
}

.video-play:hover {
  transform : scale(1.1);
}

.video__round {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 0 0px 5px rgba(245, 245, 245, 0.2);
  background: #fff;
  position: absolute;
}

.video__triangle {
  height: 0;
  width: 0;
  border: 5px solid transparent;
  border-left: 10px solid rgba(0, 0, 0, 0.5);
  position: absolute;
  left: calc(50% - 4px);
  top: calc(50% - 4px);
}

.video__desctiption {
  display: flex;
  flex-direction: column;
  padding-bottom: 14px;
}

.video__title {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 12px;
}

.video__text {
  font-size: 14px;
  line-height: 17.6px;
  margin-bottom: 20px;
}

.video__btn {
  font-size: 12px;
  width: 145px;
  transition: opacity .8s;
}

.video__btn:hover {
  opacity: .4;
  cursor: pointer;
}

.stories {
  margin-bottom: 77px;
}

.stories__title {
  font-size: 22px;
  text-align: center;
  margin-bottom: 40px;
}

.stories__items {
  display: flex;
  justify-content: space-between;
}

.stories-item {
  width: 29.8%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stories-item__img {
  margin-bottom: 12px;
  width: 100%;
}

.stories-item__title {
  font-size: 18px;
  margin-bottom: 8px;
}

.stories-item__description {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 17px;
  z-index: 1;
}

.arrow-black {
  padding-left: 5px;
}

.arrow-white {
  display: none;
}

.arrow375 {
  display: none;
}

.stories-item__info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 12px;
}

.stories__btn {
  font-weight: bold;
  letter-spacing: normal;
  transition: letter-spacing .5s;
}

.stories__btn:hover {
  letter-spacing: 2px;
  cursor: pointer;
}

.stories__date {
  opacity: .3;
}

.photos__title {
  text-align: right;
  font-size: 18px;
  opacity: .3;
  margin-bottom: 7px;
}

.photos__lenta {
  display: grid;
  grid-template-columns: repeat(7, 14.3%);
  margin-bottom: 80px;
}

.photo {
  width: 100%;
}

.photo:nth-child(8) {
  display: none;
}

.footer {
  height: 242px;
  background: #000;
  padding-top: 56px;
}

.footer__items {
  width: 66%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 26%);
  margin-bottom: 51px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  line-height: 18.4px;
}

.footer__title {
  font-size: 12px;
  color: #fff;
  margin-bottom: 5px;
}

.item__link {
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  transform: translateX(0);
  transition: transform .5s;
}

.item__link:hover {
  transform: translateX(6px);
  cursor: pointer;
}

.footer__description {
  color: #fff;
  font-size: 12px;
  margin-bottom: 11px;
}

.footer__btn {
  color: #fff;
  font-size: 10px;
  border: 1px solid #fff;
  font-weight: bold;
  background: transparent;
  padding: 8px 46px;
  margin-bottom: 35px;
  transition: color .8s,
              background .8s,
              border .8s;
}

.footer__btn:hover {
  background: #fff;
  color: #000;
  border: 1px solid #000;
  cursor: pointer;
}

.social-network {
  display: flex;
  justify-content: space-between;
  width: 67%;
}

.social-network__img:nth-child(2) {
  padding-top: 3px;
}

.social-network__img {
  transform: translateY(0);
  transition: transform .3s;
}

.social-network__img:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.address {
  color: #fff;
  font-size: 12px;
  text-align: center;
}

@media (max-width: 1110px) {
  .form__input {
    width: 45%;
  }

  .cart {
    width: 14%;
  }

  .video__img {
    margin-right: 0;
    width: 582px;
  }

  .video__desctiption {
    padding-top: 20px;
  }
}

@media (max-width: 1024px) {
  .header {
    width: 91%;
    margin-bottom: 42px;
    padding-top: 32px;
  }

  .header__logo {
    width: 61px;
    margin-right: 34px;
  }

  .nav {
    margin-right: 138px;
  }

  .form {
    width: 49%;
    margin-right: 14px;
  }

  .form__img {
    margin-left: -17px;
    margin-right: 19px;
  }

  .form__input {
    width: 64%;
  }

  .cart {
    margin-top: 0;
    margin-right: 4px;
  }

  .main {
    width: 91%;
  }

  .main__slides {
    background-image: url(../images/slide1024.png);
    height: 254px;
    padding-left: 54px;
    margin-bottom: 62px;
  }

  .main__slides__text {
    margin-bottom: 11px;
    padding-top: 5px;
  }

  .slides__arrow {
    padding-left: 10px;
  }

  .product {
    margin-bottom: 49px;
  }

  .product__title {
    letter-spacing: 0;
  }

  .product-item {
    width: 185px;
  }

  .product-item__img {
    width: 172px;
  }

  .product-info__round {
    width: 48px;
  }

  .video {
    padding: 46px 34px 37px 29px;
    margin-bottom: 90px;
  }

  .video__img {
    margin-right: 37px;
  }

  .video-play {
    width: 42px;
    height: 42px;
    top: calc(50% - 21px);
    left: calc(50% - 21px);
  }

  .video__desctiption {
    padding-bottom: 28px;
  }

  .video__title {
    width: 259px;
    margin-bottom: 6px;
  }

  .video__text {
    font-size: 13px;
    line-height: 16px;
    width: 248px;
  }

  .stories {
    margin-bottom: 100px;
  }

  .stories__title {
    margin-bottom: 43px;
  }

  .stories-item__img {
    height: 46%;
    margin-bottom: 11px;
  }

  .stories-item__description {
    font-size: 13px;
  }

  .arrow-black {
    padding-left: 0;
  }

  .photos__lenta {
    margin-bottom: 97px;
  }

  .footer__items {
    grid-template-columns: repeat(4, 26%);
    width: 75%;
  }
}

@media (max-width: 1010px) {
  .form__input {
    width: 50%;
  }
}

@media (max-width: 985px) {
  .flag {
    display: none;
  }

  .cart {
    margin-right: 0;
    width: 16%;
  }

  .product-item:nth-child(4) {
    display: none;
  }

  .video__img {
    width: 97%;
  }

  .video__desctiption {
    padding-top: 0;
    width: 190px;
  }

  .video__title {
    width: 200px;
    font-size: 20px;
  }

  .video__text {
    width: 180px;
  }

  .stories-item__description {
    font-size: 12px;
  }

}

@media (max-width: 896px) {
  .nav {
    margin-right: 95px;
  }

  .stories-item__description {
    font-size: 13px;
  }
}

@media (max-width: 845px) {
  .nav {
    margin-right: 83px;
  }

  .cart {
    display: none;
  }

   .stories-item {
    width: 43%;
  }

  .stories-item:nth-child(3) {
    display: none;
  }

  .stories-item__description {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  body {
    margin: 0;
  }

  .header {
    display: none;
  }

  .header-mini {
    padding-left: 42px;
    padding-top: 15px;
    align-items: flex-end;
    margin-bottom: 35px;
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  #menu {
    opacity: 0;
  }


  #menu:checked ~ .nav {
    visibility: visible;
  }

  .menu__btn {
    right: 42px;
    display: block;
    width: 61px;
    height: 33px;
    cursor: pointer;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
  }


.menu__btn > span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #000;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }

.menu__btn > span:nth-child(1) {
    top: 0px;
}

.menu__btn > span:nth-child(2) {
    top: 13px;
}

.menu__btn > span:nth-child(3) {
    top: 26px;
}

#menu:checked ~ .menu__btn > span:nth-child(1) {
    top: 18px;
    transform: rotate(135deg);
}

#menu:checked ~ .menu__btn > span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

#menu:checked ~ .menu__btn > span:nth-child(3) {
    top: 18px;
    transform: rotate(-135deg);
}

  .nav {
    right: 0;
    top: 98px;
    position: absolute;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 31%;
    height: 420px;
    background: #fff;
    transition-duration: .5s;
    padding-bottom: 10px;
    visibility: hidden;
  }

  .nav__link {
    color: #000;
    font-size: 21px;
    font-weight: 600;
    text-decoration: none; 
  }

  .nav__link:hover {
    color: #778899;
    transition-duration: .5s; 
  }
 
  .main {
    width: 100%;
  }

  .main__slides {
    background-image: url(../images/slide-mini.png);
    height: 415px;
    padding-left: 44px;
  }

  .main__slides__text {
    font-size: 50px;
    line-height: 48px;
    margin-bottom: 47px;
    padding-top: 40px;
  }

  .main__slides__btn {
    width: 50%;
    font-size: 20px;
  }

  .arrow {
    display: none;
  }

  .arrow-mini {
    display: inline-block;
  }

  .product {
    margin-bottom: 55px;
  }

  .product__title {
    padding-right: 17px;
    font-size: 30px;
    margin-bottom: 30px;
  }

  .product__items {
    max-width: 626px;
    height: 352px;
    margin: 0 auto;
  }

  .product-item {
    width: 283px;
    height: 100%;
    padding: 0;
  }

  .product-item::before {
    display: none;
  }

  .product-item__img {
    width: 230px;
    height: 220px;
    padding: 0;
  }

  .product-item__description {
    font-size: 20px;
    padding-left: 30px;
    margin-bottom: 15px;
  }


  .product-info {
    width: 89%;
  }

  .other {
    width: 94%;
    padding-left: 15px;
  }

  .product-info__price {
    font-size: 25px;
  }

  .product-info__round {
    width: 95px;
  }

  .round {
    height: 20px;
    width: 20px;
  }

  .round_yellow {
    order: 3;
  }

  .round_grey {
    order: 2;
  }

  .round_black {
    order: 1;
  }

  .round_other {
    order: 0;
  }

  .product-item:nth-child(3),
  .product-item:nth-child(4) {
    display: none;
  }

  .video {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0;
    height: 600px;
    position: relative;
    margin-bottom: 0;
  }

  .video::before {
    content: "";
    height: 59px;
    width: 100%;
    position: absolute;
    background: #000;
    transform: translateY(-50px) skewY(2.5deg);
    transform-origin: left;
  }

  .video__slide {
    width: 91%;
    margin: 0 auto;
  }

  .video__desctiption {
    width: 100%;
    text-align: center;
    padding: 0;
    margin-bottom: 31px;
  }

  .video__title {
    width: 100%;
    font-size: 30px;
    padding-top: 15px;
    margin-bottom: 19px;
  }

  .video__text {
    width: 88%;
    margin: 0 auto;
    font-size: 20px;
    line-height: 25px;
  }

  .video__btn {
    display: none;
  }

  .video__img {
    width: 100%;
    margin-right: 0;
  }

  .video-play {
    width: 51px;
    height: 51px;
    top: calc(50% - 26px);
    left: calc(50% - 26px);
  }

  .stories {
    background: #000;
    padding-top: 60px;
    margin-bottom: 123px;
    position: relative;
  }

  .stories::after {
    content: "";
    width: 100%;
    height: 333px;
    background: #000;
    position: absolute;
    transform: translateY(-34px) skewY(2.7deg);
  }

  .stories__title {
    color: #fff;
    font-size: 30px;
  }

  .stories__items {
    width: 88%;
    height: 485px;
    margin: 0 auto;
    color: #fff;
  }

  .stories-item {
    width: 46.2%;
  }

  .stories-item__img {
    height: 34%;
    margin-bottom: 0;
  }

  .stories-item__title {
    font-size: 25px;
  }

  .stories-item__description {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 30px;
  }

  .stories-item__info {
    z-index: 1;
  }

  .stories-item__info_width {
    width: 105%;
  }

  .stories__btn {
    font-size: 20px;
  }

  .arrow-black {
    display: none;
  }

  .arrow-white {
    display: inline-block;
    padding-left: 9px;
  }

  .stories__date {
    font-size: 15px;
    opacity: .99;
  }

  .photos {
    width: 89%;
    margin: 0 auto;
  }

  .photos__title {
    font-size: 30px;
    color: #fff;
    opacity: 0.99;
  }

  .photos__lenta {
    grid-template-columns: repeat(4, 25%);
    margin-bottom: 126px;
  }

  .photo {
    z-index: 1;
  }

  .photo:nth-child(8) {
    display: grid;
  }

  .footer {
    padding-top: 46px;
  }

  .footer__items {
    width: 87%;
    grid-template-columns: 21.5% 28.5% 28% 24%;
    margin-bottom: 71px;
  }

  .footer__title {
    margin-bottom: 3px;
  }

  .footer__description {
    margin-bottom: 8px;
    word-spacing: 5px;
  }

  .footer__btn {
    padding: 6px 49px;
    margin-bottom: 28px;
  }

  .social-network {
    width: 73%;
  }
}

@media (max-width: 731px) {
  .stories-item {
    height: 557px;
  }

  .stories__btn {
    display: none;
  }

  .footer__items {
    margin-bottom: 50px;
  }
}

@media (max-width: 650px) {
  .product__items {
    justify-content: center;
  }

  .product-item:nth-child(2) {
    display: none;
  }

  .video {
    height: 627px;
  }

  .stories__items {
    justify-content: center;
  }

  .stories-item {
    width: 80%;
  }

  .stories-item:nth-child(2) {
    display: none;
  }
}

@media (max-width: 571px) {
  .nav {
    align-items: flex-end;
  }

  .product-item:nth-child(2) {
    display: none;
  }

  .product__items {
    justify-content: center;
  }

  .footer {
    height: 363px;
  }

  .footer__items {
    grid-template-columns: 40% 60%;
    grid-template-rows: 55% 45%;
  }
}

@media (max-width: 500px) {
  .nav__link {
    font-size: 18px;
  }

  .video {
    height: 673px;
  }
}

@media (max-width: 375px) {
  .header-mini {
    /* width: 80%; */
    /* padding-top: 22px;
    padding-left: 48px; */
    margin-bottom: 23px;
  }

  .menu__btn {
    width: 47px;
    height: 43px;
  }

  .nav {
    top: 84px;
    align-items: center;
    height: 226px;
  }

  .nav__link {
    font-size: 16px;
    margin-right: 0;
  }

  .main__slides {
    background-image: url(../images/slide375.png);
    height: 191px;
    padding-left: 48px;
    margin-bottom: 36px;
    width: 85%;
  }

  .main__slides__text {
    font-size: 20px;
    line-height: 19px;
    padding-top: 30px;
    margin-bottom: 17px;
  }

  .main__slides__btn {
    font-size: 12px;
  }

  .arrow {
    display: inline;
  }

  .arrow-mini {
    display: none;
  }

  .product {
    margin-bottom: 30px;
  }

  .product__title {
    font-size: 20px;
    margin-bottom: 0;
  }

  .product-item:nth-child(2) {
    display: none;
  }

  .product__items {
    width: 100%;
    height: 288px;
    justify-content: center;
  }

  .product-item__img {
    width: 163px;
    height: 154px;
  }

  .product-item__description {
    font-size: 15px;
    margin-bottom: 3px;
  }

  .product-info {
    width: 100%;
  }

  .product-info__price {
    font-size: 20px;
    padding-left: 17px;
  }

  .product-info__round {
    width: 75px;
  }

  .round {
    width: 15px;
    height: 15px;
  }

  .video {
    width: 100%;
    height: 381px;
  }

  .video::before {
    width: 100%;
    height: 30px;
    transform: translateY(-25px) skewY(2.5deg);
  }

  .video__desctiption {
    width: 82%;
    margin: 0 auto;
    margin-bottom: 28px;
  }

  .video__title {
    font-size: 20px;
    line-height: 25px;
    width: 81%;
    padding-left: 27px;
    padding-top: 0;
    margin-bottom: 19px;
  }

  .video__text {
    width: 91%;
    font-size: 14px;
    line-height: 17px;
  }

  .video__slide {
   width: 76%;
  }

  .video-play {
    width: 21px;
    height: 21px;
    top: calc(50% - 11px);
    left: calc(50% - 11px);
  }

  .video__triangle {
    border: 2px solid transparent;
    border-left: 5px solid rgba(0, 0, 0, 0.5);
    left: calc(50% - 2px);
    top: calc(50% - 2px);
  }

  .stories {
    height: 479px;
    margin-bottom: 50px;
    padding-top: 56px;
  }

  .stories::after {
    transform: translateY(-83px) skewY(2.7deg);
  }

  .stories__title {
    font-size: 20px;
    margin-bottom: 26px;
  }

  .stories__items {
    width: 93%;
  }

  .stories-item {
    height: 369px;
  }

  .stories-item__img {
    height: 40%;
    margin-bottom: 9px;
  }

  .stories-item__title {
    font-size: 20px;
    margin-bottom: 9px;
  }

  .stories-item__description {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 27px;
  }

  .stories-item__info_width {
    width: 100%;
  }

  .stories__btn {
    font-size: 12px;
    display: inline-block;
  }

  .arrow-white {
    display: none;
  }

  .arrow375 {
    display: inline-block;
    padding-left: 9px;
  }

  .stories__date {
    font-size: 15px;
  }

  .photos {
    width: 75%;
  }

  .photos__title {
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
  }

  .photos__lenta {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, 33%);
    margin-bottom: 84px;
  }

  .photo:nth-child(4),
  .photo:nth-child(8) {
    display: none;
  }

  .photo:nth-child(6),
  .photo:nth-child(7) {
    grid-row: 2/3;
  }

  .photo:nth-child(5) {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .photo:nth-child(3) {
    grid-column: 2/3;
  }

  .footer {
    height: 875px;
    padding-top: 20px;
  }

  .footer__items {
    grid-template-columns: 22% 56% 20%;
    grid-template-rows: 179px 186px 185px 252px;
    margin-bottom: 29px;
  }

  .footer__item {
    text-align: center;
  }

  .footer__item:nth-child(1) {
    grid-area: 1/2/2/3;
  }

  .footer__item:nth-child(2) {
    grid-area: 3/2/4/3;
  }

  .footer__item:nth-child(3) {
    grid-area: 2/2/3/3;
  }

  .footer__item:nth-child(4) {
    grid-area: 4/2/5/3;
  }

  .footer__title {
    font-size: 15px;
    margin-bottom: 1px;
  }

  .footer__list {
    line-height: 21px;
  }

  .footer__list_other {
    line-height: 24px;
  }

  .item__link {
    font-size: 15px;
  }

  .footer__description {
    padding-top: 9px;
    font-size: 15px;
    word-spacing: 0;
    margin-bottom: 16px;
  }

  .footer__btn {
    padding: 11px 49px;
    font-size: 12px;
    margin-bottom: 107px;
  }

  .social-network {
    margin: 0 auto;
    width: 90%;
  }

  .address {
    font-size: 13px;
  }
}

@media (max-width: 320px) {
  .header-mini {
    width: 93%;
    padding-left: 21px;
  }


  .main__slides {
    background-image: url(../images/slide320.png);
    padding-left: 19px;
    width: 94%;
  }

  .video__desctiption {
    width: 96%;
  }

  .video__slide {
    width: 88%;
  }

  .stories__items {
    width: 87%;
  }

  .stories-item {
    width: 100%;
  }

  .photos {
    width: 88%;
  }

  .footer__items {
    grid-template-columns: 17% 65% 20%;
  }
}
